:host{
  display: block;
  border-radius: 16px;
}

.container{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
  border-radius: inherit;
  overflow: hidden;
}

.widget-name{
  margin: 5px 0 10px 0;
  font-size: 20px;
}

.setting-button{
  position: absolute;
  top: 20px;
  right: 20px;
}


